#group {
font-size: 16px;
color: #000000;
}

.button {
background-color: #EE2299;
border-radius: 16px;
width: 100px;
height: 30px;
padding: 8px;
border: 2px solid #000;
margin-top: 10px;
margin-right: 10px;
cursor: pointer;
float: left;
}

.button:hover {
  background-color: #4444AA;
  color: #ffffff;
  font-weight: bold;
}

.button:active {
  background-color: #FF0000;
}
